body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #eeece8;
}

.container {
  max-width: 1210px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  color: #a7a6a3;
  margin-bottom: 8px;
}

p {
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ul,
li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #736f6c;
}

.center {
  text-align: center;
}

header {
  padding-top: 39px;
}

.list ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.list li {
  list-style: none;
}

.banner {
  margin-top: 20px;
  background: url(/img/catalog/banner.png);
  padding: 32px;
}

nav {
  padding: 14px;
}

.nav ul {
  display: flex;
}

.nav li {
  list-style: url(/img/catalog/bullet.png);
  padding: 0px 30px 0px 12px;
  font-weight: 500;
}

.nav li:last-child {
  font-weight: 400;
}

.heading h3 {
  font-size: 28px;
  margin-top: 22px;
}

.heading p {
  margin-top: 10px;
}

.quantity {
  font-size: 20px;
  margin-top: 28px;
}

.catalog__card1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: #e3e0db;
  margin-top: 28px;
  height: 440px;
  width: 370px;
}

.catalog__card1:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}

.catalog__card1__img {
  padding: 52px 68px 71px 68px;
}

.catalog__card1__header {
  padding-left: 23px;
  padding-bottom: 20px;
}

.catalog__card1__header h3 {
  padding-bottom: 12px;
}

.catalog__card1__header p {
  font-size: 18px;
  font-weight: 300;
  color: #666360;
}

.buttons {
  margin-top: 30px;
}

.transparent__button {
  margin-top: 32px;
  background: transparent;
  text-transform: uppercase;
  color: #ae9e62;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 28px;
  border-color: #ae9e62;
  border-style: solid;
  margin-right: 14px;
}

.transparent__button:not([disabled]):hover {
  color: #9b8c55;
  border-color: #9b8c55;
}

.transparent__button:disabled {
  color: #d6c790;
}

.loadAll {
  color: #000;
  border-color: #000;
  margin-left: 14px;
}

.loadAll:not([disabled]):hover {
  color: rgb(47, 47, 47);
  border-color: rgb(47, 47, 47);
}

.loadAll:disabled {
  color: darkgrey;
}

footer {
  margin-top: 116px;
  padding-bottom: 69px;
}

.footer__line {
  border-top: 1px solid #8a8884;
  margin-bottom: 42px;
}

.footer__social {
  display: flex;
  justify-content: space-around;
}

.line_height {
  line-height: 1.6em;
}

.footer__address {
  font-weight: 700;
  margin-bottom: 24px;
}

.footer__mail {
  margin-top: 16px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .catalog__card1 {
    width: 31vw;
    height: 52vh;
  }

  .catalog__card1 img {
    width: 20vw;
  }
}

@media screen and (max-width: 991px) {
  .catalog__card1__img {
    padding: 10% 16% 10% 18%;
  }

  .catalog__card1 {
    width: 46vw;
    height: 54vh;
  }

  .catalog__card1 img {
    width: 24vw;
  }
}

@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .list {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    justify-items: center;
    background: #eeece8;
    width: 100vw;
    height: 100vh;
  }

  .list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .list ul li {
    margin-top: 50px;
    font-size: 26px;
  }

  .mobile-none {
    display: none;
  }

  .visible {
    display: flex;
  }

  header {
    text-align: center;
    position: relative;
  }

  .logo1 {
    text-align: left;
  }

  .bucket {
    margin-right: 40px;
  }

  .burger {
    width: 40px;
  }

  .burger span {
    position: absolute;
    height: 3px;
    width: 22px;
    background-color: #000;
    top: 51px;
    right: 20px;
    transition: all 0.1s ease 0s;
  }

  .burger span::before,
  .burger span::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 22px;
    background-color: #000;
    right: 0px;
    transition: all 0.3s ease 0s;
  }

  .burger span::before {
    top: -8px;
  }

  .burger span::after {
    top: 8px;
  }

  .burger span.active {
    width: 0px;
  }

  .burger span.active:before {
    transform: rotate(45deg);
    scale: 1.2;
    top: 0px;
  }

  .burger span.active:after {
    transform: rotate(-45deg);
    scale: 1.2;
    top: 0px;
  }

  .mobile-hide {
    display: none;
  }

  footer {
    margin-top: 60px;
  }

  .footer__social {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    scale: 1.5;
    margin-top: 10px;
  }

  .mobile-center {
    align-items: center !important;
  }

  .footer__address {
    margin-top: 39px;
    margin-bottom: 0;
  }

  .footer__mail {
    margin-top: 0;
  }
}
